:root {
  --white-text: #ffffff;
  --blue-text: #2196f3;
  --black-text: #212121;
  --grey-text: #757575;
  --grey-light-text: rgba(255, 255, 255, 0.6);
  --grey-background: #2f303a;
  --blue-background: #2196f3;
  --grey-light-background: #f5f4fa;
  --light-btn: #f5f4fa;
  --blue-btn: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo {
  color: var(--black-text);
}

.footer-logo {
  color: var(--white-text);
}

.logo-color {
  color: var(--blue-text);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-text);
  letter-spacing: 0.02em;
}

.menu-link.current {
  color: var(--blue-text);
}

.contact {
  font-weight: 500;
  font-size: 14px;
}

.header-contact {
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.footer-contact {
  line-height: 24px;
  color: var(--grey-light-text);
}

.menu-link:hover,
.menu-link:focus,
.header-contact:hover,
.header-contact:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--blue-text);
}

.hero,
.footer {
  background-color: var(--grey-background);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  width: 200px;
  height: 50px;
  background-color: var(--blue-btn);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: var(--white-text);
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-text);
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-text);
}

.activity-title,
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--black-text);
}

.command {
  background-color: var(--grey-light-background);
}

.command-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--black-text);
}

.command-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--grey-text);
}

address {
  text-decoration: none;
  font-style: normal;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text);
}

.portfolio-title {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-btn {
  background-color: var(--grey-light-background);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--black-text);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--blue-btn);
  color: var(--white-text);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey-text);
}
